<html>

<head>
    <title>Trickle Printer</title>
    <script src="/js/dymo.js"></script>
</head>

<body>
    {{{body}}}
</body>

<script>
    var printers = dymo.label.framework.getPrinters();
    console.log(printers);
</script>

</html>